<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>
  <title>Capital Punishment - Match the Capitals!</title>
  <link rel="icon" type="image/png" href="images/world.png"/>
  <link rel="shortcut icon" href="images/world.png"/>
  <link rel="stylesheet"
  href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css"/>
  <style>
    #question {
      position: absolute;
      text-align: center;
      width: 100%;
      height:100%;
      top: 5%;
    }
    #radio_buttons {
      position:relative;
    }
  </style>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34818939-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
   <div id="question">
     <div>
       <form action="/toggle" method="POST" >
          <input type="image" value=<%= get_answer_value %> name="mode_image"
                 src=<%= @image_string %>
                 style="background-color:transparent;border-color:transparent;width:128px;height:128px;"
                 title="Click to invert questions"/>
        </form>
       <br/>
     </div>
     <div style="font-size: 48px;">
       <p><%= @question_statement %></p>
     </div>
     <br/><br/>
     <div style="font-size: 60px;">
       <p><b><%= @question %>?</b></p>
     </div>
     <br/><br/>
     <div id="radio_buttons">
       <form action="/check_answer" method="POST" >
         <input type="radio" name="answer" checked="true"
                value=<%= get_answer_value(@all_answers[0])%>/>
         <%= @all_answers[0]%><br/>
         <input type="radio" name="answer"
                value=<%= get_answer_value(@all_answers[1])%>/>
         <%= @all_answers[1]%><br/>
         <input type="radio" name="answer" 
                value=<%= get_answer_value(@all_answers[2])%>/>
         <%= @all_answers[2]%><br/>
         <input type="radio" name="answer" 
                value=<%= get_answer_value(@all_answers[3])%>/>
         <%= @all_answers[3]%><br/>
         <input type="radio" name="answer"
                value=<%= get_answer_value(@all_answers[4])%>/>
                <%= @all_answers[4]%><br/>
         <input type="submit" value="Submit" />
       </form>
     </div>
     <div style="font-size:18px;">
       <p><b><%= @result %></b></p>
     </div>
   </div>
  <div style="position:absolute;right:0;top:0;text-align:right;margin-right: 5px; margin-top: 5px;">
    <!-- <img src="images/help.png" style="width: 32px; height: 32px; margin-top: -2px; margin-right: 3px;"
         title="Click for help." alt="Help Button."/>
    <span style="opacity:.4; font-size: 11.5pt;">
      <b>|</b>
    </span> -->
    <span style="font-size: 11.5pt;">
      <b>Copyright (C) <a href="http://nullablevoid.blogspot.com" target="_blank" title="Visit my blog.">Larry Price</a> 2012</b>
    </span>
    <br />
  </div>
  <div style="position:absolute;left:0;top:0;">
    <form action="/World" method="GET" style="margin-bottom:5px">
      <input type="image" src="images/world.png"
             style="background-color:transparent;border-color:transparent;width:64px;height:64px"
             title="Click to go to World mode." alt="World button."/>
    </form>
    <form action="/UnitedStates" method="GET" style="margin-bottom:5px">
      <input type="image" src="images/unitedstates.png"
             style="background-color:transparent;border-color:transparent;width:64px;height:64px"
             title="Click to go to United States mode." alt="United States button."/>
    </form>
    <form action="/Canada" method="GET" style="margin-bottom:5px">
      <input type="image" src="images/canada.png"
             style="background-color:transparent;border-color:transparent;width:64px;height:64px"
             title="Click to go to Canada mode." alt="Canada button."/>
    </form>
    <form action="/Mexico" method="GET" style="margin-bottom:5px">
      <input type="image" src="images/mexico.png"
             style="background-color:transparent;border-color:transparent;width:64px;height:64px"
             title="Click to go to Mexico mode." alt="Mexico button."/>
    </form>
  </div>
</body>
</html>
