<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Capital Punishment - US States and Capitals</title>
  <link rel="icon" type="image/png" href="images/world.png"/>
  <link rel="shortcut icon" href="images/world.png"/>
  <link rel="stylesheet"
  href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css"/>
  <style>
    #question {
        position:absolute;
        text-align: center;
        width:100%;
        top:5%;
    }
    #radio_buttons {
      position:relative;
    }
  </style>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34818939-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
   <div id="question">
     <div>
       <form action="/toggle_us" method="POST" >
          <input type="image" src="images/us.png"
                 style="background-color:transparent;border-color:transparent;width:128px;height:128px"
                 title="Click to invert questions!"/>
        </form>
       <br/>
     </div>
     <div style="font-size: 48px">
       <p><%= CapitalPunishment.instance.current.get_question_statement %></p>
     </div>
     <br/><br/>
     <div style="font-size: 60px">
       <p><b><%= CapitalPunishment.instance.current.get_question %>?</b></p>
     </div>
     <br/><br/>
     <div id="radio_buttons">
       <form action="/check_us_answer" method="POST" >
         <input type="radio" name="answer" value="first" checked="true"/><%=CapitalPunishment.instance.current.get_all_answers[0]%><br/>
         <input type="radio" name="answer" value="second"/><%=CapitalPunishment.instance.current.get_all_answers[1]%><br/>
         <input type="radio" name="answer" value="third"/><%=CapitalPunishment.instance.current.get_all_answers[2]%><br/>
         <input type="radio" name="answer" value="fourth"/><%=CapitalPunishment.instance.current.get_all_answers[3]%><br/>
         <input type="radio" name="answer" value="fifth"/><%=CapitalPunishment.instance.current.get_all_answers[4]%><br/>
         <input type="submit" value="Submit"/>
       </form>
     </div>
     <div>
       <h3>
          <%= CapitalPunishment.instance.current.get_result %>
       </h3>
     </div>
   </div>
  <span style="position:absolute;top:0;right:0;text-align:right;margin-right:5px;">
    Copyright (C) <a href="http://nullablevoid.blogspot.com" target="_blank" title="Visit my blog.">Larry Price</a> 2012
  </span>
  <div style="position:absolute;left:0;top:0;">
    <form action="/world_mode" method="POST" style="margin-bottom:0">
        <input type="image" src="images/world.png"
               style="background-color:transparent;border-color:transparent;width:64px;height:64px;"
               title="Click to switch to world mode." alt="World button."/>
    </form>
    <img src="images/us.png" style="background-color:transparent;border-color:transparent;width:64px;height:64px"
         title="Currently in US mode." alt="US button."/>
  </div>
</body>
</html>
