<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Capital Punishment - US States and Capitals</title>
  <link rel="icon" type="image/png" href="images/world.png"/>
  <link rel="shortcut icon" href="images/world.png"/>
  <link rel="stylesheet"
  href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css"/>
  <style>
    div {
        page-break-before: always;
        page-break-after: always;
    }
    #question {
        position:absolute;
        top:10%;
        right:15%;
        bottom:45%;
        left:15%;
    }
    #radio_buttons {
      position:relative;
      top:20%;
      right:15%;
      bottom:20%;
      left:45%;
    }
  </style>
</head>
<body>
   <div id="question">
     <div align="center">
       <form action="/toggle_mode_us" method="POST" >
          <input type="image" src="images/us.png"
                 style="background-color:transparent;border-color:transparent;width:128px;height:128px"
                 title="Click to invert questions."/>
        </form>
       <br/><br/>
     </div>
     <div align="center" style="font-size: 48px">
       <p><%=  StatesAndCapitals.instance.get_question_statement %></p>
     </div>
     <br/><br/>
     <div align="center" style="font-size: 60px">
       <p><b><%= StatesAndCapitals.instance.get_question %>?</b></p>
     </div>
     <br/><br/>
     <div id="radio_buttons">
       <form action="/check_us_answer" method="POST" >
         <input type="radio" name="answer" value="first" checked="true"/><%=StatesAndCapitals.instance.get_all_answers[0]%><br/>
         <input type="radio" name="answer" value="second"/><%=StatesAndCapitals.instance.get_all_answers[1]%><br/>
         <input type="radio" name="answer" value="third"/><%=StatesAndCapitals.instance.get_all_answers[2]%><br/>
         <input type="radio" name="answer" value="fourth"/><%=StatesAndCapitals.instance.get_all_answers[3]%><br/>
         <input type="radio" name="answer" value="fifth"/><%=StatesAndCapitals.instance.get_all_answers[4]%><br/>
         <input type="submit" value="Submit"/>
       </form>
     </div>
     <div align="center">
       <h3>
          <%= StatesAndCapitals.instance.get_result %>
       </h3>
     </div>
   </div>
  <span style ="position:absolute;right:0;bottom:0">
    <a href="http://www.nullablevoid.blogspot.com/">
      <img alt="Blogger logo."  src="images/256px-Blogger.svg.png"
           width="64" height="64" title="Visit my blog to see what I've been up to."/>
    </a>
    <a href="https://github.com/lpdev">
      <img alt="GitHub logo." src="images/github.png"
           width="64" height="64" title="Visit my public repos to see the code."/>
    </a>
  </span>
  <form action="/switch_to_world_mode" method="POST" >
      <input type="image" src="images/world.png"
             style="position:absolute;left:0;bottom:0;background-color:transparent;border-color:transparent;width:64px;height:64px"
             title="Click to switch to world mode." alt="Switch modes."/>
    </form>
</body>
</html>
