
<div class="container question-body">
 <div>
   <form action="/toggle/world" method="POST">
      <input type="image" src="img/world.png" class="toggle-btn btn-image"
             title="Click to invert questions"/>
    </form>
 </div>
 <div class="question-stmt">
   <p><%= @question_statement %></p>
 </div>
 <br/><br/>
 <div class="question">
   <p><strong><%= @question %>?</strong></p>
 </div>
 <br/>
  <div class="answer-body">
    <form action="/check_answer" method="POST">
      <div>
        <input type="radio" name="answer" checked="true" style="margin-top: -2px;"
              value=<%= get_answer_value(@all_answers[0])%>/>
        <%= @all_answers[0] %>
      </div>
      <div>
        <input type="radio" name="answer" style="margin-top: -2px;"
              value=<%= get_answer_value(@all_answers[1])%>/>
        <%= @all_answers[1] %>
      </div>
      <div>
        <input type="radio" name="answer" style="margin-top: -2px;"
              value=<%= get_answer_value(@all_answers[2])%>/>
        <%= @all_answers[2] %>
      </div>
      <div>
        <input type="radio" name="answer" style="margin-top: -2px;"
              value=<%= get_answer_value(@all_answers[3])%>/>
        <%= @all_answers[3] %>
      </div>
      <div>
        <input type="radio" name="answer" style="margin-top: -2px;"
            value=<%= get_answer_value(@all_answers[4])%>/>
        <%= @all_answers[4] %>
      </div>
      <input type="submit" class="btn btn-normal answer-submit" value="Submit" />
    </form>
  </div>
 <div class="result">
   <p><%= @result %></p>
 </div>
</div>
